<appSettings>
  <add key="log4net.Config" value="log4net.config" />
  <add key="ConnectionString" value="server=;uid=;pwd=;database=;Treat Tiny As Boolean=False;"/>
  <add key="Ftp.Host" value=""/>
  <add key="Ftp.Username" value=""/>
  <add key="Ftp.Password" value=""/>
  <add key="Database.Server" value=""/>
  <add key="Database.Username" value=""/>
  <add key="Database.Password" value=""/>
  <add key="Database.Name" value=""/>
  <add key="PhpLog.SourceFile" value=""/>
</appSettings>